<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head></head>
<body>
<div class="wrapper">
    <header></header>
    <div layout:fragment="content">
        <section class="content-header">
            <h3>
                조직 및 공간 관리
            </h3>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title"></h3>
                            <div class="box-tools" style="width: 577px; padding-right: 21px;">
                                <div class="input-group input-group-sm" style="width: 393px; float: left;">
                                    <input type="text"  name="table_search" class="form-control pull-right" placeholder="Search" id="org-searchKeyword" onkeyup="searchOrg()"/>
                                    <div class="input-group-btn" >
                                        <button type="submit"  class="btn btn-default" onclick="searchOrg()"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                                <div class="pull-left" style="padding-right: 0px; margin-left: 9px;">
                                    <button type="button" class="btn btn-block btn-primary btn-sm" data-title-text="조직 할당량 등록" id="devEnvRegistBtn" name="registBtn" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#devEnvFormModal">
                                        조직 등록
                                    </button>
                                </div>
                                <div class="pull-right" style="padding-right: 0px; ">
                                    <button type="button" class="btn btn-block btn-primary btn-sm" onclick="spaceModalInit()" data-title-text="조직 할당량 등록" id="devEnvRegistBtn2" name="registBtn" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#devEnvFormModal2">
                                        공간 등록
                                    </button>
                                </div>
                            </div>
                                <div style="height: 10px">
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12" style="width: 49%">
                                <table class="table table-bordered table-striped dataTable" style="text-align: center; display: none" id="orgTable" >
                                </table>
                                <div id="noOrgMessage" class='box-header with-border' style="display: none">생성된 조직이 없습니다.</div>
                                <div id="noSearchOrgMessage" class='box-header with-border' style="display: none">검색된 조직이 없습니다.</div>
                            </div>
                            <div class="box-body table-responsive no-padding" style="width: 49%">
                                <table class="table table-bordered table-striped dataTable" style="text-align: center; display: none" id="spaceTable" >
                                </table>
                                <div id="noSpaceMessage" class='box-header with-border' style="display: none">생성된 공간이 없습니다.</div>
                            </div>
                        <!-- /.box-header -->

                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

            </div>
            </div>

            <div class="modal fade" id="modal-default" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="modaltitle">Default Modal</h4>
                    </div>
                    <div class="modal-body" id="modalbody">
                        <p>One fine body…</p>
                        <div id="#layerModalLoadingBar" class="overlay hide"><i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                    <div class="modal-footer" id="modal-footer">
                        <!--<button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>-->
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

            <!-- 조직등록모달 -->
            <div class="modal fade" id="devEnvFormModal" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>

                            <h4 class="modal-title">
                                <div id="devEnvTitle" name="modalTitle">조직 등록</div>
                            </h4>
                        </div>
                        <div class="modal-body">

                            <div class="box" style="margin-bottom: 0px; border-top: 0px; box-shadow: 0 0px 0px">
                                <div id="devEnvModalLoadingBar" name="modalLoadingBar" class="overlay hide"><i class="fa fa-refresh fa-spin"></i></div>
                                <form id="devEnvForm" class="form-horizontal">
                                    <div class="box-body">

                                        <div class="form-group required">
                                            <label for="orgName" class="col-sm-3 control-label">조직 이름</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control checkDevEnvForm" id="orgName" onkeyup='pattenTest2()' placeholder="조직 이름을 입력해주세요." />
                                            </div>
                                        </div>

                                        <div class="form-group" style="height:50px;">
                                            <label for="orgQuota" class="col-sm-3 col-xs-12 control-label">조직 할당량</label>
                                            <div class="col-sm-4 col-xs-3">
                                                <select class="form-control" id="orgQuota">
                                                </select>
                                            </div>
                                            <div class="col-sm-1 col-xs-3" style="margin-left: 15px;">
                                                <button class="user_btn colors1" id="selectOQ" style="position: absolute;top: 6px;left: -8px;" disabled="disabled" ></button>
                                            </div>
                                        </div>
                                        <div class="box-body no-padding table-responsive">
                                            <table class="table table-striped text-center" style="table-layout:fixed; word-break:break-all;"> <!-- table-responsive -->
                                                <thead>
                                                <tr class="text-center">
                                                    <th>메모리</th>
                                                    <th>인스턴스 메모리</th>
                                                    <th>라우트</th>
                                                    <th>서비스 인스턴스</th>
                                                    <th>가격</th>
                                                    <th>예약 라우트 포트</th>
                                                </tr>
                                                </thead>
                                                <tbody id="orgQuotaDefinitionList">
                                                <tr>
                                                    <td id="memorySize"></td>
                                                    <td id="instanceMemorySize"></td>
                                                    <td id="routeCnt"></td>
                                                    <td id="serviceCnt"></td>
                                                    <td id="price"></td>
                                                    <td id="reservedRouteCnt"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="devEnvCloseBtn" class="btn btn-sm btn-default pull-left" data-dismiss="modal">취소</button>
                            <button type="button" id="devEnvRegBtn" name="modalRegBtn" class="btn btn-sm btn-primary pull-right" onclick="createOrg(1)">등록</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- Modal END -->


            <!-- 공간등록모달 -->
            <div class="modal fade" id="devEnvFormModal2" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>

                            <h4 class="modal-title">
                                <div id="devEnvTitle2" name="modalTitle">공간 등록</div>
                            </h4>
                        </div>
                        <div class="modal-body">

                            <div class="box" style="margin-bottom: 0px; border-top: 0px; box-shadow: 0 0px 0px">
                                <div id="devEnvModalLoadingBar2" name="modalLoadingBar" class="overlay hide"><i class="fa fa-refresh fa-spin"></i></div>
                                <form id="devEnvForm2" class="form-horizontal">
                                    <div class="box-body">

                                        <div class="form-group required">
                                            <label for="orgName2" class="col-sm-3 control-label">조직 이름</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control checkDevEnvForm" id="orgName2" readonly="readonly" />
                                                <input type="hidden" class="form-control checkDevEnvForm" id="orgGuid" />
                                            </div>
                                        </div>

                                        <div class="form-group required">
                                            <label for="spaceName" class="col-sm-3 control-label">공간 이름</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control checkDevEnvForm" id="spaceName" onkeyup='pattenTest()' placeholder="공간 이름을 입력해주세요"/>
                                            </div>
                                        </div>

                                        <div class="form-group" style="height:50px;">
                                            <label for="spaceQuota" class="col-sm-3 col-xs-12 control-label">공간 할당량</label>
                                            <div class="col-sm-4 col-xs-3">
                                                <select class="form-control" id="spaceQuota">
                                                    <option value="N">선택안함</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-1 col-xs-3" style="margin-left: 15px;">
                                                <button class="user_btn colors1" id="selectSQ" style="position: absolute;top: 6px;left: -8px;" disabled="disabled">선택안함</button>
                                            </div>
                                        </div>

                                        <div class="box-body no-padding table-responsive"> <!-- table-responsive -->
                                            <table class="table table-striped text-center" style="table-layout:fixed; word-break:break-all;">
                                                <thead>
                                                <tr class="text-center">
                                                    <th>메모리</th>
                                                    <th>인스턴스 메모리</th>
                                                    <th>라우트</th>
                                                    <th>서비스 인스턴스</th>
                                                    <th>가격</th>
                                                    <th>예약 라우트 포트</th>
                                                </tr>
                                                </thead>
                                                <tbody id="spaceQuotaDefinitionList">
                                                <tr>
                                                    <td id="memorySize2"></td>
                                                    <td id="instanceMemorySize2"></td>
                                                    <td id="routeCnt2"></td>
                                                    <td id="serviceCnt2"></td>
                                                    <td id="price2"></td>
                                                    <td id="reservedRouteCnt2"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="devEnvCloseBtn2" class="btn btn-sm btn-default pull-left" data-dismiss="modal">취소</button>
                            <button type="button" id="devEnvRegBtn2" name="modalRegBtn" class="btn btn-sm btn-primary pull-right" onclick="createOrg(2)">등록</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- Modal END -->

</section>
    </div>
    <footer></footer>
</div>
<script layout:fragment="custom-script">
    var V2_URL = "/v2";
    var V3_URL = "/v3";
    var GET_ORGS_FOR_ADMIN_URL = V2_URL + "/orgs";
    var GET_SPACES_FOR_ADMIN_URL = V2_URL + "/spaces2";
    var OrgAndSpace = "/OrgAndSpace";
    var Space = "/Space";
    var domainNames;
    var currentOrg;
    var spaceName;
    var currentOrgId;
    var currentOrgNum;
    var spaces;
    var quotaName;
    var totalRoutes;
    var paidServices;
    var totalServices;
    var MemoryLimit;
    var OrgId;
    var quotaNameSpace;
    var totalRoutesSpace;
    var paidServicesSpace;
    var spaceQuotaText;
    var userEmail;

    var ORG_SOURCE_LIST;
    var SPACE_SOURCE_LIST;

    var orgObj = new Object();
    var spaceObj = new Object();

    var ORG_LIST_MAP = new Map(); // 조직 할당량정의에서 사용할 조직 정보 Map

    $(document).ready(function(){
        if($.cookie("api_key") != null){
            key = $.cookie("api_key");
            $("#apiUrls").val(key);
        }else{
            key = $("#apiUrls").val();
        }
        getInitMarketPlaceURL();
        procCallAjax2(GET_ORGS_FOR_ADMIN_URL+"?key="+key,"GET",null ,procCallbackGetOrgs);
        procCallAjax2(GET_SPACES_FOR_ADMIN_URL+"?key="+key,"GET",null ,procCallbackGetSpacesAll);
        getDomains(key);

        procCallAjax("/v2/orgs/quota-definitions"+"?key="+key, "GET", null, procCallbackGetOrgQuotaDefinitionList,null);
    });

    $( "#apiUrls" ).change(function() {
        key = $("#apiUrls").val();
        $.cookie("api_key",key);

        $("#orgTable *").remove();
        $("#spaceTable *").remove();
        procCallAjax2(GET_ORGS_FOR_ADMIN_URL+"?key="+key,"GET",null ,procCallbackGetOrgs);

        getDomains(key);
    });


    /*<![CDATA[*/
    function getDomains(key) {


        $.ajax({
            url: V2_URL+ "/domains/shared/"+"?key="+key,
            method: "GET",
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                if (data) {
                    domainNames = "";
                    for (var i = 0; i < data.resources.length; i++) {
                        if (i != 0) domainNames += " , ";
                        domainNames += data.resources[i].entity.name;
                    }
                }
            }
        });
    }

    var procCallbackGetSpacesAll = function (data) {
        spaceObj = new Object();
        var spaceName = new Array();
        for(var i=0; i < data.resources.length; i++){
            spaceName[i] = data.resources[i].entity.name;
            spaceObj[spaceName[i]] = spaceName[i];
        }
        spaceName.sort();
    }

    var procCallbackGetOrgs = function (data, param) {
        $("#orgTable").hide();
        $("#noSpaceMessage").hide();

        if(data.resources.length === 0){
            $("#noOrgMessage").show();
        } else {
            $("#orgTable").append(
                    "<tbody>"+
                    "<tr>"+
                    "<th style='text-align: center'>번호</th>"+
                    "<th style='text-align: center'>조직 이름</th>"+
                    "<th style='text-align: center'>관리</th>"+
                    "</tr>"

            )
            orgObj = new Object();
            var orgName = new Array();
            var idMap = new Map();
            var QuotaMap = new Map();
            for (var i = 0; i < data.resources.length; i++) {
                orgName[i] = data.resources[i].entity.name;
                idMap.set(orgName[i],data.resources[i].metadata.guid);
                QuotaMap.set(orgName[i],data.resources[i].entity.quotaDefinitionId);
            }
            orgName.sort();
            for (var i = 0; i < data.resources.length; i++) {
                $("#orgTable").append (
                    "<tr id='orgSpaceViewArea-table-content-org-no" + (i + 1) + "' name='" + orgName[i].toString().toLowerCase() + "' >" +
                    "<td>" + (i + 1) + "</td>" +
                    "<td><a style='color: black' href='#none' id='orgNameList' onClick=\"getSpacesForAdmin('" + idMap.get(orgName[i]) + "','" + orgName[i] + "','" + (i+1) + "')\">" + orgName[i] + "</a> &nbsp;<a href='#none' onClick=\"procGetOrgSummary('" + idMap.get(orgName[i]) + "','" +  QuotaMap.get(orgName[i]) + "')\" style='font-size:10px;' data-toggle='modal' data-target='#modal-default'>[상세정보]</a></td>" +
                    "<label><input name='groupTable-checkbox' id='groupTable-checkbox-no-"+(i+1)+"' value='"+(i+1)+"' class='checkbox-inline' type='checkbox' style='display: none'></label>"+
                    '<td>'+
                    '<div>'+
                    '<label class="fa fa-gears" style="cursor: pointer;" href="#none" data-toggle="modal" data-target="#devEnvFormModal" onClick="procManagement(\''+idMap.get(orgName[i])+'\',\''+orgName[i]+'\',null,1)"></label>'+
                    '</div></td></tr>'
                )
                orgObj[orgName[i]] = orgName[i];
                ORG_LIST_MAP.set(idMap.get(orgName[i]),orgName[i]);
            }
            $("#orgTable").append (
                    "</tbody>"
            )
            changeTableContentColor("org")
            $("#orgTable").show();
            currentOrg = idMap.get(orgName[0]);
            currentOrgId = orgName[0];
            getSpacesForAdmin(idMap.get(orgName[0]),orgName[0], 1);
        }
    }

    function procManagement(guid,name,quota,flag){
        $("#modalbody").html("데이터를 불러오고 있습니다.");
        $("#devEnvFormModal2 #spaceQuota option[value='N']").prop("selected",true);
        if(flag==1){
            updateSet(flag,guid);
            $("#devEnvTitle").html("조직 관리");
            $("#devEnvFormModal #orgName").val(name);
            $("#devEnvFormModal .modal-footer").html("<button type=\"button\" class=\"btn btn-sm btn-danger pull-left\" onclick='deleteChekOrg(\""+name+"\")'>삭제</button>"+
                "<button type=\"button\" class=\"btn btn-sm btn-default pull-left\" data-dismiss=\"modal\">취소</button>"+
                "<button type='button' class='btn btn-primary' onclick='updateChek(1,null)'>수정</button>"+
                    "<input type='hidden' id='guid' value="+guid+">"+"<input type='hidden' id='originalName' value="+name+">");

        }else if(flag==2){
            $("#selectSQ").text("선택안함");
            $("#spaceQuotaDefinitionList td").text("");

            updateSet(flag,quota);
            $("#devEnvTitle2").html("공간 관리");
            $("#devEnvFormModal2 #spaceName").val(name);
            $("#devEnvFormModal2 .modal-footer").html("<button type=\"button\" class=\"btn btn-sm btn-default pull-left\" data-dismiss=\"modal\">취소</button>"+
                "<button type='button' class='btn btn-primary' onclick='updateChek(2,\""+quota+"\")'>수정</button>"+
                "<input type='hidden' id='guid' value="+guid+">"+"<input type='hidden' id='originalName' value="+name+">");
         }
    }

    function updateSet(flag,guid) {
        if(flag==1){
            procCallAjax2(V2_URL + "/orgs/"+guid+"/summary"+"?key="+key, "GET",null, procCallbackGetOrgSetUpdate);
        }else{
            procCallAjax2(V2_URL+"/spaces/quota-definitions/"+guid+"?key="+key,"GET", null, procCallbackGetSpaceSetUpdate);
        }

    }

    var procCallbackGetOrgSetUpdate = function(data, param) {
        if(data != null){
            $('#orgQuota option').each(function () {
                if($(this).text() == data.quota.name){
                    $(this).prop("selected",true);
                    getOrgQuotaDefinition($(this).val());
                    $("#selectOQ").text($(this).text());
                }
            });
        }
    }

    var procCallbackGetSpaceSetUpdate = function(data, param) {
        if (data.entity != null) {
            $('#spaceQuota option').each(function () {
                if($(this).text() == data.entity.name){
                    $(this).prop("selected",true);
                    getSpaceQuotaDefinition($(this).val());
                    $("#selectSQ").text($(this).text());
                }
            });
        }else{
            if($("#devEnvFormModal2 #spaceQuota option:eq(1)").val() != null){
                $("#devEnvFormModal2 #spaceQuota option[value='N']").text("선택 안함");
            }
        }
    }

    function updateChek(flag,spaceQuota) {
        var guid=$("#guid").val();
        var orginName =$("#originalName").val();
        if(spaceQuota=="null"){spaceQuota=null};
        if(flag==1){
            var name=$("#orgName").val();
            var quota =$('#orgQuota option:checked').val();
            if(name.length == 0 || name == null){
                notifyAlert("warning", "", "내용을 입력해주세요.");
                return false;
            }else if(orgObj[name] != undefined) {
                if(orginName == name || name.search(/\s/) != -1){
                    var param = {
                        guid: guid,
                        newOrgName: name,
                        quotaGuid : quota
                    };
                    procCallAjax(V2_URL + "/organization-admin"+"?key="+key, 'PUT', JSON.stringify(param), procCallbackResetPage, $('#layerModalLoadingBar'));
                    $("#devEnvFormModal .close").click();
                }else{
                    notifyAlert("warning", "", name+" 은(는) 이미 사용중인 이름 입니다.");
                    return false;
                }
            }else{
                var param = {
                    guid: guid,
                    newOrgName: name,
                    quotaGuid : quota
                };
                procCallAjax(V2_URL + "/organization-admin"+"?key="+key, 'PUT', JSON.stringify(param), procCallbackResetPage, $('#layerModalLoadingBar'));
                $("#devEnvFormModal .close").click();
            }
        }else if(flag==2){
            var name=$("#spaceName").val();
            var quota =$('#spaceQuota option:checked').val();

            if(name.length == 0 || name == null){
                notifyAlert("warning", "", "내용을 입력해주세요.");
                return false;
            }else if(spaceObj[name] != undefined){
                if(orginName == name || name.search(/\s/) != -1){
                    spaceUpdateForAdmin(orginName,name,guid,quota,spaceQuota);
                }else{
                    notifyAlert("warning", "", name+" 은(는) 이미 사용중인 이름 입니다.");
                    return false;
                }
            }else{
            var param = {//할당량만변경x 이름만변경 그리고 둘다변경
                spaceGuid: guid,
                newSpaceName: name,
                spaceQuotaGuid : quota,
                orgGuid : spaceQuota //original guid 로 사용
            };
            procCallAjax(V2_URL + "/space-admin"+"?key="+key, 'PUT', JSON.stringify(param), procCallbackResetPage, $('#layerModalLoadingBar'));
            $("#devEnvFormModal2 .close").click();
            }
        }
    }

    function spaceUpdateForAdmin(orginName,name,guid,quota,spaceQuota) {
        if(quota=="N" && spaceQuota == null) {
            var param = {
                spaceGuid: guid,
                newSpaceName: name
            };
            procCallAjax(V2_URL + "/space-name-admin"+"?key="+key, 'PUT', JSON.stringify(param), procCallbackResetPage, $('#layerModalLoadingBar'));
            $("#devEnvFormModal2 .close").click();
            procInitPage();
        }else{
            var param = {
                spaceGuid: guid,
                spaceQuotaGuid : quota,
                orgGuid : spaceQuota
            };
            procCallAjax(V2_URL + "/space-quota-admin"+"?key="+key, 'PUT', JSON.stringify(param), procCallbackResetPage, $('#layerModalLoadingBar'));
            $("#devEnvFormModal2 .close").click();
        }
    }


    function createOrg(flag) {
        //조직등록
        if(flag==1){
            if($("#orgName").val().length==0 || $("#orgName").val() ==null){
                notifyAlert("warning", "", "조직명 을 입력해주세요.");
                $("#orgName").focus();
                return false;
            }else if(orgObj[$("#orgName").val()] != undefined) {
                notifyAlert("warning", "", $("#orgName").val()+" 은(는) 이미 사용중인 이름 입니다.");
                return false;
            }else{
                var param = {
                    orgName: $("#orgName").val(),
                    orgQuotaGuid: $('#orgQuota option:checked').val()
                };
                procCallAjax(V2_URL + "/organizations"+"?key="+key, 'POST', JSON.stringify(param), procCallbackResetPage, $('#layerModalLoadingBar'));
                $("#devEnvFormModal .close").click();
            }
        //공간등록
        }else if(flag==2){
            if($("#spaceName").val().length==0 || $("#spaceName").val() ==null){
                notifyAlert("warning", "", "공간명 을 입력해주세요.");
                $("#spaceName").focus();
                return false;
            }else if(spaceObj[$("#spaceName").val()] != undefined) {
                notifyAlert("warning", "", $("#spaceName").val()+" 은(는) 이미 사용중인 이름 입니다.");
                return false;
            }else{
                var param = {
                    orgGuid : $("#orgGuid").val(),
                    spaceName : $("#spaceName").val(),
                    spaceQuotaGuid : $('#spaceQuota option:checked').val()
                };
                procCallAjax(V2_URL + "/spaces"+"?key="+key, 'POST', JSON.stringify(param), procCallbackResetPage, $('#layerModalLoadingBar'));
                $("#devEnvFormModal2 .close").click();
            }
        }
    }

    function deleteChekOrg(name) {
        $("#orgName").val(name);
        if(confirm("정말 삭제 하시겠습니까?")){
            deleteOrg()
        }
    }

    function deleteOrg() {
        var guid=$("#guid").val();
        procCallAjax(V2_URL + "/organizations-admin/"+guid+"?key="+key, 'DELETE', null, procCallbackResetPage, $('#layerModalLoadingBar'));
        $("#devEnvFormModal .close").click();
    }

    var procCallbackResetPage = function (data) {
        if(data.result){
            procInitPage();
        }
    }

    function procInitPage(){
        if($.cookie("api_key") != null){
            key = $.cookie("api_key");
            $("#apiUrls").val(key);
        }else{
            key = $("#apiUrls").val();
        }

        $("#orgTable *").remove();
        $("#spaceTable *").remove();

        procCallAjax2(GET_ORGS_FOR_ADMIN_URL+"?key="+key,"GET",null ,procCallbackGetOrgs);
        procCallAjax2(GET_SPACES_FOR_ADMIN_URL+"?key="+key,"GET",null ,procCallbackGetSpacesAll);
    }

    function pattenTest() {
        var patten = /[\{\}\[\]\/@?,;:|\)*~`!^+<>\#$%&\\\=\(\'\"]/gi;
        $("#devEnvFormModal2 input[type=text]").each(function () {
            $(this).val($(this).val().replace(patten, ''));
        });
    }

    function pattenTest2() {
        var patten = /[\{\}\[\]\/@?,;:|\)*~`!^+<>\#$%&\\\=\(\'\"]/gi;
        $("#devEnvForm input[type=text]").each(function () {
            $(this).val($(this).val().replace(patten, ''));
        });
    }

    function getSpacesForAdmin(orgid, orgName, orgNum){
        $("#devEnvFormModal2 #orgName2").val(orgName);
        $("#devEnvFormModal2 #orgGuid").val(orgid);
        $("#spaceTable").hide();
        $("#noSpaceMessage").hide();
        currentOrg = orgName;
        currentOrgId = orgid;
        currentOrgNum = orgNum;
        procCallAjax2(GET_ORGS_FOR_ADMIN_URL+"/"+orgid+"/spaces"+"?key="+key,"GET" ,null ,procCallbackGetSpace);
        contentSelectControl("group", orgNum);
        procCallAjax("/v2/organizations/"+orgid+"/space_quota_definitions"+"?key="+key, "GET", null, procCallbackGetSpaceQuotaDefinitionList,null);
    }

    // 조직 할당량
    $(document).on("change keyup","select[id=orgQuota]",function(){
        var value = $('#orgQuota option:checked').text();
        var value2 = $('#orgQuota option:checked').val();
            getOrgQuotaDefinition(value2);
            $('#selectOQ').text(value);
    })

    //공간 할당량
    $(document).on("change keyup","select[id=spaceQuota]",function(){
        var value = $('#spaceQuota option:checked').text();
        var value2 = $('#spaceQuota option:checked').val();
        if(value2 != 'N'){
            getSpaceQuotaDefinition(value2);
            $('#selectSQ').text(value);
        }else{
            $('#selectSQ').text("선택안함");
            $("#spaceQuotaDefinitionList td").text("");
        }
    })

    var procCallbackGetSpace = function(data, param) {
        $("#spaceTable *").remove();
        $("#spaceTable").hide();
        $("#noSpaceMessage").hide();

        if(data.spaceList.resources.length === 0){
            $("#noSpaceMessage").show();
        } else {
            $("#spaceTable").append(
                    "<tbody>"+
                    "<tr>"+
                    "<th style='text-align: center'>번호</th>"+
                    "<th style='text-align: center'>"+currentOrg+" 공간 이름</th>"+
                    "<th style='text-align: center;width: 93px;'>관리</th>"+
                    "</tr>"
            )
            $.each(data.spaceList.resources, function (eventId, space) {
                $("#spaceTable").append (
                        "<tr id='orgSpaceViewArea-table-content-space-no"+(eventId+1)+"'>"+
                        "<td>"+(eventId+1)+"</td>"+
                        "<td id='space' data-value="+space.metadata.guid+">" + space.entity.name + "&nbsp; <a href='#none' onClick=\"procGetSpaceSummary('"+ space.metadata.guid +"','" + space.entity.space_quota_definition_guid + "')\" style='font-size:10px' data-toggle='modal' data-target='#modal-default'>[상세정보]</a></td>" +
                        '<td>'+
                        '<div>'+
                    '<label class="fa fa-gears" style="cursor: pointer;" href="#none" data-toggle="modal" data-target="#devEnvFormModal2" onClick="procManagement(\''+space.metadata.guid+'\',\''+space.entity.name+'\',\''+space.entity.space_quota_definition_guid+'\',2)"></label>'+
                        '</div></td></tr>'
                )
            });
            $("#orgTable").append (
                    "</tbody>"
            )
            $("#spaceTable").show();
        }
    }

    // GET ORG SUMMARY
    var procGetOrgSummary = function (orgid, quotaid) {
        $("#modaltitle").html("조직 상세 정보");
        $("#modalbody").html("데이터를 불러오고 있습니다.");
        OrgId = orgid;
        //procCallAjax2(V2_URL + "/orgs/"+quotaid+"/quota","GET", null, procCallbackGetOrgQuota);
        //procCallAjax2(V2_URL + "/orgs/"+orgid+"/quota","GET", null, procCallbackGetOrgQuota);
        procCallAjax2(V2_URL + "/orgs/"+OrgId+"/summary"+"?key="+key, "GET",null, procCallbackGetOrgSummary);
        $("#modal-default .modal-footer").html("<button type='button' class='btn btn-primary' data-dismiss='modal'>확인</button>");
    };

    // GET ORG SUMMARY CALLBACK
    var procCallbackGetOrgQuota = function(data, param) {
        quotaName = data.entity.name;
        totalRoutes = data.entity.totalRoutes;
        totalServices = data.entity.totalServices;
        MemoryLimit = data.entity.memoryLimit;
        if (data.entity.nonBasicServicesAllowed) {
            paidServices = "paid services allowed";
        } else {
            paidServices = "paid services disallowed";
        }
        procCallAjax2(V2_URL + "/orgs/"+OrgId+"/summary"+"?key="+key, "GET",null, procCallbackGetOrgSummary);
    }

    // GET ORG SUMMARY CALLBACK
    var procCallbackGetOrgSummary = function(data, param) {

        spaces = "없음";
        for (var i = 0; i < data.resource.length; i++) {
            if (i != 0) spaces += " , " + data.resource[i].name;
            else spaces = data.resource[i].name;
        }
        $("#modalbody").html("<b>Domains</b> : " + domainNames +
                "<br><b>Quota</b> : " + data.quota.name + " (" + data.quota.memoryLimit + "M memory limit, " + data.quota.totalRoutes + " routes, " + data.all_serviceTotal + "/" + data.quota.totalServices + " services)" +
                "<br><b>Spaces</b> : " + spaces);
    }


    // GET SPACE SUMMARY
    var procGetSpaceSummary = function (spaceId, spaceQuotaId) {
        $("#modaltitle").html("영역 상세 정보");
        $("#modalbody").html("데이터를 불러오고 있습니다.");
        spaceQuotaText = "없음";

        if(spaceQuotaId != "null") {
            procCallAjax2(V2_URL+"/spaces/quota-definitions/"+spaceQuotaId+"?key="+key,"GET", null, procCallbackGetSpaceQuota);
            // To-Be : Quota 정보 관리 추가
        }

        procCallAjax2(V2_URL + "/spaces/"+spaceId+"/summary"+"?key="+key,"GET", null, procCallbackGetSpaceSummary);
        $("modal-default .modal-footer").html("<button type='button' class='btn btn-primary' data-dismiss='modal'>확인</button>");

        if(spaceId != "null"){ //spaceId가 존재하면 ( null이 아니면)
            procCallAjax(V2_URL +"/spaces"+"/"+spaceId+"/user-roles"+"?key="+key,"GET",null, procCallbackSpaceRoles, $("#layerModalLoadingBar"));

        }
    };


    // GET SPACE SUMMARY CALLBACK
    var procCallbackGetSpaceQuota = function(data, param) {
        if (data.entity != null) {
            quotaNameSpace = data.entity.name;
            totalRoutesSpace = data.entity.total_routes;
            totalServicesSpace = data.entity.total_services;
            if (data.entity.non_basic_services_allowed) {
                paidServicesSpace = "paid services allowed";
            } else {
                paidServicesSpace = "paid services disallowed";
            }
            spaceQuotaText = quotaNameSpace + " (" + data.entity.memory_limit + "M memory limit, " + totalRoutesSpace + " routes, " + totalServicesSpace + " services, " + paidServicesSpace + ")";
        } else {
            spaceQuotaText = "";
        }

        /*$("#modalbody").html("<b>Domains</b> : " + domainNames +
                "<br><b>Quota</b> : " + quotaName + " (" + MemoryLimit + "M memory limit, " + totalRoutes + " routes, " + totalServices + " services, " + paidServices + ")" +
                "<br><b>Spaces</b> : " + spaces);*/
    }

    // GET SPACE SUMMARY CALLBACK
    var procCallbackGetSpaceSummary = function(data, param) {

        apps = "없음";
        for (var i = 0; i < data.apps.length; i++) {
            if (i != 0) apps += " , " + data.apps[i].name;
            else apps = data.apps[i].name;
        }

        services = "없음";
        for (var i = 0; i < data.services.length; i++) {
            if (i != 0) services += " , " + data.services[i].name;
            else services = data.services[i].name;
        }

        $("#modalbody").html(
                "<b>Org</b> : " + currentOrg +
                "<br><b>Space</b> : " + data.name +
                "<br><b>Apps</b> : " + apps +
                "<br><b>Domains</b> : " + domainNames +
                "<br><b>Services</b> : " + services +
                "<br><b>Quota</b> : " + spaceQuotaText);

        spaceName = data.name;
    }




    function searchOrg() {
        $('#spaceTable').hide();
        $('#noSpaceMessage').hide();

        var input = $("#org-searchKeyword").val().toLowerCase();

        if(input === ""){
            $('#noSearchOrgMessage').hide();
            $('#orgTable').show();
            $('#orgTable tr[id*="orgSpaceViewArea-table-content-org-no"]').show();

        } else{
            $('#orgTable tr[id*="orgSpaceViewArea-table-content-org-no"]').hide();

            if($('#orgTable tr[name*="'+input+'"]').length > 0){
                $('#noSearchOrgMessage').hide();
                $('#orgTable').show();
                $('#orgTable tr[name*="'+input+'"]').show();

            } else{
                $('#orgTable').hide();
                $('#noSearchOrgMessage').show();
            }
        }
    }

    function changeTableContentColor(orgOrSpace) {
        var listToShow = $('#orgTable tr[id*="orgSpaceViewArea-table-content-org-no"]:not([style*="display: none"])')
        $.each(listToShow, function (eventId, eventData) {
            document.getElementById(eventData.id).className = "";
        });
    }

    function contentSelectControl(table, elementNo){
        if($("#"+table+"Table-checkbox-no-"+elementNo).is(":checked") === true) {
            $("#"+table+"Table-checkbox-no-"+elementNo).prop ("checked", false)
            if(table === "user"){
                var contentId = table+"Table-"+table+"-no-"+elementNo
                contentClassNameCategorize(elementNo ,contentId)
            } else {
                changeTableContentColor(table);
            }

        } else if($("#"+table+"Table-checkbox-no-"+elementNo).is(":checked") === false) {
            if(table === "group") {
                $(":checkbox[name='"+table+"Table-checkbox']").prop("checked", false);
                changeTableContentColor(table);
            }
            $("#"+table+"Table-checkbox-no-"+elementNo).prop ("checked",true)
            document.getElementById("orgSpaceViewArea-table-content-org-no"+elementNo).className = "bg-aqua disabled color-palette";
        }

    }
    function contentClassNameCategorize(contentNo, contnetId) {
        document.getElementById(contnetId).className = "";
    }

    //조직등록 모달 초기화
    $('#devEnvFormModal').on('hidden.bs.modal', function (e) {
        $("#devEnvTitle").html("조직 등록");
        $(this).find('form')[0].reset();
        $("#selectOQ").text($(this).find("#orgQuota option:eq(0)").text());
        getOrgQuotaDefinition($(this).find("#orgQuota option:eq(0)").val());
        $("#devEnvFormModal .modal-footer").html("<button type=\"button\" id=\"devEnvCloseBtn\" class=\"btn btn-sm btn-default pull-left\" data-dismiss=\"modal\">취소</button>"+
            "<button type=\"button\" id=\"devEnvRegBtn\" name=\"modalRegBtn\" class=\"btn btn-sm btn-primary pull-right\" onclick=\"createOrg(1)\">등록</button>"
        );
    });

    //공간등록 모달 초기화
    function spaceModalInit(){
        $("#devEnvTitle2").html("공간 등록");
        $("#spaceName").val("");
        $("#devEnvFormModal2 #spaceQuota option[value='N']").prop("selected",true);
        if($("#devEnvFormModal2 #spaceQuota option:eq(1)").val() != null){
            $("#devEnvFormModal2 #spaceQuota option[value='N']").text("선택안함");
        }else{
            $("#devEnvFormModal2 #spaceQuota option[value='N']").text("생선된 할당량이 없습니다.");
        }
        $("#selectSQ").text("선택안함");
        $("#spaceQuotaDefinitionList td").text("");
        $("#devEnvFormModal2 .modal-footer").html("<button type=\"button\" id=\"devEnvCloseBtn2\" class=\"btn btn-sm btn-default pull-left\" data-dismiss=\"modal\">취소</button>"+
            "<button type=\"button\" id=\"devEnvRegBtn2\" name=\"modalRegBtn\" class=\"btn btn-sm btn-primary pull-right\" onclick=\"createOrg(2)\">등록</button>"
        );
    }

    var procCallbackGetOrgQuotaDefinitionList = function(data){
        ORG_SOURCE_LIST = data.resources;
        printOrgData(ORG_SOURCE_LIST);
    };

    var procCallbackGetSpaceQuotaDefinitionList = function(data){
        SPACE_SOURCE_LIST = data.resources;
        printSpaceData(SPACE_SOURCE_LIST);
    };

    // 조직 할당량 정의 리스트 출력
    function printOrgData(dataList) {
        if(dataList.length == 0){
            $("#devEnvFormModal #orgQuota option[value='N']").text("생선된 할당량이 없습니다.");
        }else{
            $.each(dataList, function (index, data) {
                if(index==0){
                    $("#selectOQ").text(data.entity.name);
                    getOrgQuotaDefinition(data.metadata.guid);
                }
                $("#devEnvFormModal #orgQuota").append("<option value='"+data.metadata.guid+"'>"+data.entity.name+"</option>");
            });
        }
    };

    function convertDataToView(str){
        if(typeof(str) === 'boolean' && str == true){ // 무료/유료
            return '무료';
        }else if(typeof(str) === 'boolean' && str == false){
            return '유료';
        }else if(str == -1){ // 화면 출력시 -1 '무제한' 출력
            return '무제한'
        }else if(str.length == 0){
            return '';
        }else{
            return str;
        }
    };

    // MB -> MB/GB , -1 -> 무제한
    function convertUnit(amount){
        var unit;
        var regex = /^[0-9]*$/g;

        if(amount == -1){
            return '무제한';
        }

        if(amount >= 1024){
            amount = amount/1024;
            unit = 'G';
        }else{
            unit = 'M';
        }

        if(!regex.test(amount)){
            amount = amount.toFixed(1); // 단위가 GB일시 소수점 1자리까지(반올림)
        }
        return amount+unit;
    }

    // 조직 허용량 상세
    function getOrgQuotaDefinition(quotaId) {
        procCallAjax("/v2/orgs/quota-definitions/"+quotaId+"?key="+key, "GET", null, procCallbackGetQuotaDefinition, null);
    }

    var procCallbackGetQuotaDefinition = function(data){

        var entity = data.entity;

        if (entity) {

            var instanceMemoryLimit = entity.instance_memory_limit;
            var routePorts          = entity.total_reserved_route_ports;
            var serviceCnt          = entity.total_services;
            var routeCnt            = entity.total_routes;

            $('#memorySize').text(convertUnit(entity.memory_limit));
            $('#instanceMemorySize').text(convertUnit(instanceMemoryLimit));
            $('#routeCnt').text(convertDataToView(routeCnt));
            $('#serviceCnt').text(convertDataToView(serviceCnt));
            $("#price").text(convertDataToView(entity.non_basic_services_allowed));
            $('#reservedRouteCnt').text(convertDataToView(routePorts));
        }
    }

    // 공간 허용량 정의 상세
    function getSpaceQuotaDefinition(quotaId) {
        procCallAjax("/v2/spaces/quota-definitions/"+quotaId+"?key="+key, "GET", null, procCallbackGetQuotaDefinition2, null);
    }

    var procCallbackGetQuotaDefinition2 = function(data){

        var entity = data.entity;

        if (entity) {

            var instanceMemoryLimit = entity.instance_memory_limit;
            var routePorts          = entity.total_reserved_route_ports;
            var serviceCnt          = entity.total_services;
            var routeCnt            = entity.total_routes;

            $('#memorySize2').text(convertUnit(entity.memory_limit));
            $('#instanceMemorySize2').text(convertUnit(instanceMemoryLimit));
            $('#routeCnt2').text(convertDataToView(routeCnt));
            $('#serviceCnt2').text(convertDataToView(serviceCnt));
            $("#price2").text(convertDataToView(entity.non_basic_services_allowed));
            $('#reservedRouteCnt2').text(convertDataToView(routePorts));
        }
    }

    //특정 조직의 공간 할당량 리스트 출력
    function printSpaceData(dataList) {
        $("#devEnvFormModal2 select#spaceQuota option[value !='N']").remove();
        $("#devEnvFormModal2 #spaceQuota option[value='N']").text("선택 안함");
        if(dataList.length == 0){
            $("#devEnvFormModal2 #spaceQuota option[value='N']").text("생선된 할당량이 없습니다.");
        }else{
            $.each(dataList, function (index, data) {
                $("#devEnvFormModal2 #spaceQuota").append("<option value='"+data.metadata.guid+"'>"+data.entity.name+"</option>");
            });
        }
    };

    $(document).on("mouseup",'tr td[id=space]',function (e) {

        /*공간에 포함된 유저들의 목록을 가져온다.*/
        var spaceid =$(e.target).data('value');

        var page = 1;

        procCallAjax(V2_URL +"/spaces"+"/"+spaceid+"/user-roles"+"?key="+key,"GET",null, procCallbackSpaceRoles, $("#layerModalLoadingBar"));

    });

    var procCallbackSpaceRoles = function (data) {

        var stringify = JSON.stringify(data);
        var parseData = JSON.parse(stringify);
        var dataRoles = parseData.result.userRoles.user_roles;

        userEmail  = "";
           user_roles = "";

        for (var i = 0; i < dataRoles.length; i++) {
            if (dataRoles[i].user_email!==null) userEmail += " " + "<br>" + dataRoles[i].user_email + ":" + "["+ dataRoles[i].roles +"]";
            }

            $("#modalbody").html(
                "<b>Org</b> : " + currentOrg +
                "<br><b>Space</b> : " + spaceName +
                "<br><b>Apps</b> : " + apps +
                "<br><b>Domains</b> : " + domainNames +
                "<br><b>Services</b> : " + services +
                "<br><b>Quota</b> : " + spaceQuotaText+
                "<br><b>User</b> : " + userEmail);
        }
    /*]]>*/
</script>
</body>
</html>
