<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
<head>
</head>
<body>
<div class="wrapper">
    <header></header>
    <div layout:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                이미지 관리
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <!-- -->
                    <div class="box">
                        <div class="box-header with-border">

                            <div class="box box-default collapsed-box" style="margin-bottom: 8px; border-top-color: #ded6d2;"><!--box-solid-->
                                <div class="box-header with-border">
                                    <h3 class="box-title">검색 조건</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body" style="display:none;">
                                    <form class="form-horizontal" id="catalogSearch"><!--form-inline-->
                                        <div class="form-group col-sm-12">
                                            <label for="searchValue" class="control-label col-sm-3 col-xs-12">검색어</label>
                                            <div class="has-feedback col-sm-4 col-xs-12">
                                                <input type="text" id="searchValue" class="form-control"/>
                                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                                <input style="visibility:hidden; width:0px;"/><!-- Auto Summit 방지용 -->
                                            </div>

                                        </div>
                                    </form>

                                </div>
                            </div>

                            <div class="nav-tabs-custom" style="margin-bottom:0px;">
                                <ul class="nav nav-tabs">
                                    <li class="header no-padding active"><a href="#buildpackTab" data-toggle="tab" aria-expanded="true"  data-tab-type="buildpack">앱 개발환경</a></li>
                                    <li class="header no-padding"><a href="#serviceTab" data-toggle="tab" aria-expanded="false" data-tab-type="service">앱 서비스</a></li>
                                    <div class="pull-right" style="padding-right: 0px;">
                                        <button type="button" class="btn btn-block btn-primary btn-sm" id="buildpackRegistBtn" name="registBtn" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#FormModal">
                                            이미지 등록
                                        </button>
                                    </div>
                                </ul>
                            </div>
                            <!-- tab-content -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="buildpackTab">
                                    <div class="box">
                                        <div id="buildpackTabLoadingBar" class="overlay"><i class="fa fa-refresh fa-spin"></i></div>
                                        <div class="box-body no-padding table-responsive"> <!-- table-responsive -->
                                            <table class="table table-striped text-center" style="word-break:break-all;">
                                                <colgroup>
                                                    <col class="col-xs-3"/>
                                                    <col class="col-xs-3"/>
                                                    <col class="col-xs-8"/>
                                                </colgroup>
                                                <thead>
                                                <tr class="text-center">
                                                    <th>이름</th>
                                                    <th>분류</th>
                                                    <th>URL</th>
                                                </tr>
                                                </thead>
                                                <tbody id="buildpackList" name="buildpackList">
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div><!-- /.box -->
                                </div><!-- /.tab-pane tab_1 -->
                                <div class="tab-pane fade" id="serviceTab">
                                        <div class="box">
                                            <div id="serviceTabLoadingBar" class="overlay"><i class="fa fa-refresh fa-spin"></i></div>
                                            <div class="box-body no-padding table-responsive"> <!-- table-responsive -->
                                                <table class="table table-striped text-center" style="word-break:break-all;">
                                                    <colgroup>
                                                        <col class="col-xs-3"/>
                                                        <col class="col-xs-3"/>
                                                        <col class="col-xs-8"/>
                                                    </colgroup>
                                                    <thead>
                                                    <tr class="text-center">
                                                        <th>이름</th>
                                                        <th>분류</th>
                                                        <th>URL</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="serviceList" name="serviceList">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div><!-- /.tab-pane tab_1 -->
                                    </div><!-- /.tab-content -->
                            </div>
                        </div><!-- /.div -->
                    </div>
                </div>
            </div>
            <!-- [앱 개발환경] Modal -->
            <div class="modal fade" id="FormModal" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>

                            <h4 class="modal-title">
                                <div id="devEnvTitle" name="modalTitle">이미지 등록</div>
                            </h4>
                        </div>
                        <div class="modal-body">

                            <div class="box" style="margin-bottom: 0px; border-top: 0px; box-shadow: 0 0px 0px">
                                <div id="imageModalLoadingBar" name="modalLoadingBar" class="overlay hide"><i class="fa fa-refresh fa-spin"></i></div>
                                <form id="imageForm" class="form-horizontal">
                                    <div class="box-body">

                                        <div class="form-group required">
                                            <label for="imageList" class="col-sm-3 control-label">분류</label>
                                            <div class="col-sm-9">
                                                <select class="form-control checkServiceForm" onchange='changeClassification(this.value)' id="imageList" style="width:auto;">
                                                    <option value="앱 개발환경"> 앱 개발환경 </option>
                                                    <option value="앱 서비스"> 앱 서비스 </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group required">
                                            <label for="imagePackList" class="col-sm-3 control-label">서비스</label>
                                            <div class="col-sm-9">
                                                <select class="form-control checkServiceForm"  id="imagePackList" style="width:auto;">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="guideImage" class="col-sm-3 control-label">이미지</label>

                                            <div class="col-sm-9">
                                                <input type="file" id="guideImage" name="guideImage" class="filestyle" data-buttonText=""/>
                                            </div>

                                            <div class="col-sm-3"></div>

                                            <div id="guideImagePreview" name="guideImagePreview" class="col-sm-9">
                                                <!-- -->
                                                <div id="Preview" class="file-preview-frame">
                                                    <div class="file-content">
                                                        <img src="" class="file-preview-image"/>
                                                    </div>
                                                </div>
                                                <!-- -->
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="imageDeleteBtn" name="modalDeleteBtn" class="btn btn-sm btn-danger pull-left" onClick="deleteImage();">삭제</button>
                            <button type="button" id="imageSaveBtn" name="modalSaveBtn" class="btn btn-sm btn-primary pull-right" onClick="updateImage();">저장</button>
                            <button type="button" id="imageRegBtn" name="modalRegBtn" class="btn btn-sm btn-primary pull-right" onClick="createImage();">등록</button>
                            <button type="button" id="imageCloseBtn" class="btn btn-sm btn-default pull-left" data-dismiss="modal">취소</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- Modal END -->
        </section>
    </div>
    <footer></footer>
</div>
<script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
    var DEVELOP_PACK_PROC_URL = /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).DEVELOP_PACK_PROC_URL}]]*/ "";
    var SERVICE_PACK_PROC_URL = /*[[${T(org.openpaas.paasta.portal.web.admin.common.Constants).SERVICE_PACK_PROC_URL}]]*/ "";
    var IMAGE_URL = "/v2/guide_images"
    var SELECT_GUBUN2 = "";
    var THUMB_MAX_SIZE = 20 * 1024; // 20MB
    var BEFORE_THUMB_PATH;
    var SELECT_ID = "";
    $(document.body).ready(function () {
        // 활성화 탭 체크
        $('.nav-tabs li').each(function () {
            $(this).click(function (e) {
                ACTIVE_TAB = $(e.target).data('tabType');

                // 조건 검색 초기화 추가
                $("#catalogSearch")[0].reset();
                if (ACTIVE_TAB == 'buildpack') {
                    //getStarterList(); // 탭클릭시 API재조회는 해당 항목 사용
                    //printStarterList(STARTER_SOURCE_LIST);
                } else {
                    //getBuildPackList();
                    //printDevEnvList(DEV_SOURCE_LIST);
                }
            });
        });

        getImageBuildPackList();
        getImageList();
        $('div[name=guideImagePreview]').hide();
        $("input[name=guideImage]").on("change", function (e) {
            setPreView($(this));
        });

    });

    // 등록 버튼 클릭시, 등록 팝업 이벤트 설정
    $(document).on( "click", 'button[name=registBtn]' ,function(e){

        $('div[name=modalTitle]').text($(this).text());

        $('button[name=modalDeleteBtn]').hide();
        $('button[name=modalSaveBtn]').hide();
        $('button[name=modalRegBtn]').show();
        $("#guideImage").val("");
        $('input[name=guideImage]').filestyle('clear');
        $('div[name=guideImagePreview]').hide();
        $('.file-preview-image').attr("src","");
        //initModal();
    });

    // 리스트 클릭시 상세 출력
    $(document).on( "mouseup", 'tbody[name=buildpackList]' ,function(e){
        initModal();
        $("#imageList").val('앱 개발환경');
        SELECT_ID = $(e.target).parent().data('id');
        $('#FormModal').modal('toggle');
        procCallAjax("/v2/guide_images/" + SELECT_ID, "GET", null, viewGuideBImage, null);
    });

    // 리스트 클릭시 상세 출력
    $(document).on( "mouseup", 'tbody[name=serviceList]' ,function(e){
        initModal();
        $("#imageList").val('앱 서비스');

        var id = $(e.target).parent().data('id');
        $('#FormModal').modal('toggle');
        procCallAjax("/v2/guide_images/" + id, "GET", null, viewGuideSImage, null);

    });

    function initModal(){
        $('button[name=modalDeleteBtn]').show();
        $('button[name=modalSaveBtn]').show();
        $('button[name=modalRegBtn]').hide();
        $('#imagePackList').empty();
    }


    var viewGuideBImage = function(data){
        var entity = data['data'];
        SELECT_GUBUN2 = entity.gubun2
        // 썸네일
        if(entity.url){
            var pathHeader = entity.url.lastIndexOf("/");
            var pathEnd = entity.url.length;
            var fileName = entity.url.substring(pathHeader + 1, pathEnd);
            $('#guideImage').text(entity.name);
            $('.file-content').attr('style', 'display: block; height: auto; width: auto');
            $('#guideImagePreview img').attr('style', 'display: block; height: auto; width: auto');
            // 파일 직접 주소 참조 불가. API를 통해 FILE 가져오기
            $('#guideImagePreview img').attr("src","/v2/thumbnail/"+fileName);
            $('div[name=guideImagePreview]').show();
            BEFORE_THUMB_NAME = fileName;
        }
        getImageBuildPackList();
    }

    var viewGuideSImage = function(data){
        var entity = data['data'];
        SELECT_GUBUN2 = entity.gubun2
        // 썸네일
        if(entity.url){
            var pathHeader = entity.url.lastIndexOf("/");
            var pathEnd = entity.url.length;
            var fileName = entity.url.substring(pathHeader + 1, pathEnd);
            $('#guideImage').text(entity.name);
            $('.file-content').attr('style', 'display: block; height: auto; width: auto');
            $('#guideImagePreview img').attr('style', 'display: block; height: auto; width: auto');
            // 파일 직접 주소 참조 불가. API를 통해 FILE 가져오기
            $('#guideImagePreview img').attr("src","/v2/thumbnail/"+fileName);
            $('div[name=guideImagePreview]').show();
            BEFORE_THUMB_PATH = entity.url;
        }
        getImageServicePackList();
    }

    function changeClassification(value){
        $('#imagePackList').empty();
        if(value === '앱 개발환경'){
            getImageBuildPackList()
        } else {
            getImageServicePackList()
        }

    }

    // GET BuildPackList
    var getImageBuildPackList = function () {
        procCallAjax(DEVELOP_PACK_PROC_URL, "GET", null, procCallbackGetImageList, $('#buildpackTabLoadingBar'));
    };

    // GET ServicePackList
    var getImageServicePackList = function () {
        procCallAjax(SERVICE_PACK_PROC_URL, "GET", null, procCallbackGetImageList, $('#serviceTabLoadingBar'));
    };

    // GET LIST CALLBACK BuildPackList
    var procCallbackGetImageList = function (data) {
        imagePackList(data.list);
    };

    // [앱 개발환경] 리스트 출력
    function imagePackList(dataList) {
        var objTable = $("#imagePackList");
        $.each(dataList, function (id, data) {
            objTable.append('<option value="'+data.name+ '">'+data.name+ '</option>');
        });
        if(SELECT_GUBUN2 != null && SELECT_GUBUN2.length > 0 && SELECT_GUBUN2 !== undefined){
            $("#imagePackList").val(SELECT_GUBUN2);
        }
    };

    // GET LIST CALLBACK BuildPackList
    var getImageList = function () {
        procCallAjax(IMAGE_URL, "GET", null, viewImageList, $('#serviceTabLoadingBar'));
    };

    var viewImageList = function (data) {
        var objTable = $("#buildpackList");
        var objTable2 = $("#serviceList");
        objTable.html('');
        objTable2.html('');
        var dataList = data['data'];
        $.each(dataList, function (id, data) {
            if(data.gubun ==='앱 서비스' ){
                objTable2.append('<tr style="cursor:pointer;" data-id='+data.id+'>'
                    + '<td>' + data.name + '</td>'
                    + '<td>' + data.gubun2 + '</td>'
                    + '<td>' + data.url + '</td>'
                    + '</tr>');
            }else {
                objTable.append('<tr style="cursor:pointer;" data-id='+data.id+'>'
                    + '<td>' + data.name + '</td>'
                    + '<td>' + data.gubun2 + '</td>'
                    + '<td>' + data.url + '</td>'
                    + '</tr>');
            }

        });
    };

    var setPreView = function (objThumbnail) {
        var this_form = objThumbnail[0];
        var file = this_form.files[0];

        var img_size = 0;

        if (file) {
            // image file check
            var pathHeader = this_form.value.lastIndexOf("\\");
            var pathMiddle = this_form.value.lastIndexOf(".");
            var pathEnd = this_form.value.length;

            var filename = this_form.value.substring(pathHeader + 1, pathEnd);
            var ext = this_form.value.substring(pathMiddle + 1, pathEnd).toLowerCase();

            if (ext != "jpg" && ext != "png" && ext != "gif") {
                notifyAlert('warning','','이미지 파일(jpg, png, gif)만 등록 가능합니다.');
                //fileinput FileReader 참고
                resetThumbnail();
                return false;
            }

            // file 읽어 오기
            var reader = new FileReader();

            reader.onload = function (e) {
                //$('#previewMessage').attr('style', 'display: none;');
                console.log(e);
                var image = new Image();
                // 파일의 내용을 읽어서 넣어준다.
                image.src = e.target.result;
                img_size = Math.round(e.total / 1024);
            };

            reader.onloadend = function (e) {
                if (img_size > THUMB_MAX_SIZE) {
                    resetThumbnail();
                    var alertMessage = '이미지 크기는 ' + THUMB_MAX_SIZE + 'Kb를 넘을 수 없습니다.';
                    notifyAlert('warning','',alertMessage);

                    return false;
                }
                $('.file-content').attr('style', 'display: block; height: auto; width: auto');
                $('.file-preview-image').attr('style', 'display: block; height: auto; width: auto');
                $('.file-preview-image').attr("src", e.target.result);
                $('#guideImage').text(filename);
            };
            reader.readAsDataURL(file);
            $('div[name=guideImagePreview]').show();
        } else {
            resetThumbnail();
        }
    };

    var resetThumbnail = function () {
        //$(":file").filestyle('clear');
        $('input[name=guideImage]').filestyle('clear');
        $('div[name=guideImagePreview]').hide();
    };

    function createImage(){
        // 파일 첨부 확인 및 업로드
        $('.modal').modal('hide');
        var file = $("#guideImage")[0].files[0];
        var name = $("#imagePackList").val();
        if(name === ''){
            notifyAlert('warning','',"이미지 이름을 입력하지 않았습니다.");
            return;
        }
        if (file === undefined){
            notifyAlert('warning','',"등록할 이미지가 없습니다.");
            return;
        }
        var formData = new FormData();
        formData.append("file", file);
        uploadFile(formData,"POST","/v2/thumbnail",registImage);
    }

    //  [가이드 이미지] 등록
    function registImage(fileInfo){
        procCallAjax("/v2/guide_images", "POST", JSON.stringify(imageParam(fileInfo)), getImageList, null);
    }

    function updateImage(){
        $('.modal').modal('hide');
        uploadFile(null,"DELETE","/v2/thumbnail/"+ BEFORE_THUMB_NAME, updateImage2);
    }

    function updateImage2(){
        var file = $("#guideImage")[0].files[0];
        var name = $("#imagePackList").val();
        if(name === ''){
            notifyAlert('warning','',"이미지 이름을 입력하지 않았습니다.");
            return;
        }
        if (file === undefined){
            notifyAlert('warning','',"등록할 이미지가 없습니다.");
            return;
        }
        var formData = new FormData();
        formData.append("file", file);
        uploadFile(formData,"POST","/v2/thumbnail",updateImage3);
    }

    function updateImage3(fileInfo){
        procCallAjax("/v2/guide_images", "PUT", JSON.stringify(updateParam(fileInfo)), getImageList, null);
    }

    function deleteImage(){
        $('.modal').modal('hide');
        uploadFile(null,"DELETE","/v2/thumbnail/"+ BEFORE_THUMB_NAME, deleteImage2);
    }

    function deleteImage2(){
        procCallAjax("/v2/guide_images/"+SELECT_ID, "DELETE", null, getImageList, null);

    }

    // reqType 따른 파일 업로드 / 삭제 처리
    var uploadFile = function(formData, reqType, reqUploadUrl, reqProcFunction) {

        $.ajax({
            url : reqUploadUrl
            , method : reqType
            , processData : false
            , contentType : false
            , data : formData
            , dataType : "json"
            , timeout : 600000
            ,success : function(data){

                if(reqType == "DELETE"){ // 삭제시 파일정보 초기화
                    data.filename = "";
                    data.fileURL  = "";
                    data.length   = "";
                }

                if(reqProcFunction != null){
                    reqProcFunction(data);
                }
            },
            error: function(xhr, status, error) {

                notifyAlert('danger','',JSON.parse(xhr.responseText).message);
            },
            complete : function(data) {

            }
        });
    };




    // [앱 템플릿] 등록/수정 FORM PARAM
    var imageParam = function(fileInfo){
        var param = {
            gubun                  : $("#imageList").val(),
            gubun2                 : $("#imagePackList").val(),
            name                   : fileInfo.filename,
            url                    : fileInfo.fileURL
        };
        return param;
    }

    // [앱 템플릿] 등록/수정 FORM PARAM
    var updateParam = function(fileInfo){
        var param = {
            id                     : SELECT_ID,
            gubun                  : $("#imageList").val(),
            gubun2                 : $("#imagePackList").val(),
            name                   : fileInfo.filename,
            url                    : fileInfo.fileURL
        };
        return param;
    }
</script>
</body>
</html>
